#dashboard{
    overflow: auto;
    height: calc(100vh - 100px);
}

.transition-width {
    transition: width 1s ease-in-out;
}

.dashboardPanel {
    width: 40%;
}
#dashboardPanel{
    position: absolute;
    right: 0;
    
}
.ViewerDashboardMode{
    width: 60%;
}